<%= stylesheet_link_tag 'login', :media => "all" %>


<div class="login_title">
<h2>ログイン</h2>
</div>

<div class="mainbox">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <h3>メール </h3><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <h3>パスワード </h3><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>



<div class="button_login">
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>

</div>