<meta name="twitter:title" content="団体一覧" />


<%= stylesheet_link_tag 'user_show', :media => "all" %>



<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
    <div class="title">
      <% provide(:title, 'マイページ') %>
      <h1>マイページ</h1>
    </div>
    <div class="contents">
      <% if @user.nicname == nil %>
        <p>名前 : <%= @user.name %></p>
        <p>メールアドレス : <%= @user.email %></p>
        <p>公式HP : <a href= <%= @user.url %> target=\"_blank\"> <%= @user.url %> </a></p>
        <p>Twiiter :@ <a href="https://twitter.com/<%= @user.twitterid %>"><%= @user.twitterid %></a></p>
        <p>Instagram : <a href="https://www.instagram.com/<%= @user.insta_name %>"><%= @user.insta_name %></a></p>
        <p>プロフィール :<%= safe_join(@user.profile.split("\n"),tag(:br)) %></p>

        <% else %>
        <p>ニックネーム : <%= @user.nicname %></p>
        <p>メールアドレス : <%= @user.email %></p>
      <% end %>
      <%= link_to "編集する", edit_user_registration_path %>
    </div>
  <% end %>


  <% if current_user.id != @user.id %>
    <div class="title">
      <% provide(:title, '団体ページ') %>
      <h1>団体ページ</h1>
    </div>
    <div class="contents">
      <h2> <%= @user.name %></h2>
      <p>活動県 : <%= Prefecture.find(@user.prefecture_id).name %></p>
      <% if @user.profile.present? %>
        <p><%= safe_join(@user.profile.split("\n"),tag(:br)) %></p>
      <% end %>
      <% if @user.url.present? %>
        <p>公式HP : <a href= <%= @user.url %> target=\"_blank\"> <%= @user.url %> </a></p>
      <% end %>
      <% if @user.twitterid.present? %>
        <p>Twiiter : 
        <a href="https://twitter.com/<%= @user.twitterid %>">@<%= @user.twitterid %></a></p>
      <% end %>
      <% if @user.insta_name.present? %>
        <p>Instagram : 
        <a href="https://www.instagram.com/<%= @user.insta_name %>"><%= @user.insta_name %></a></p>
      <% end %>
    </div>
  <% end %>

<% else %>

  <div class="title">
    <% provide(:title, '団体ページ') %>
    <h1>団体ページ</h1>
  </div>
  <div class="contents">
    <h2> <%= @user.name %></h2>
    <p>活動県 : <%= Prefecture.find(@user.prefecture_id).name %></p>
    <% if @user.profile.present? %>
    <p><%= safe_join(@user.profile.split("\n"),tag(:br)) %></p>
    <% end %>
    <% if @user.url.present? %>
      <p>公式HP : <a href= <%= @user.url %> target=\"_blank\"> <%= @user.url %> </a></p>
    <% end %>
    <% if @user.twitterid.present? %>
      <p>Twiiter : 
      <a href="https://twitter.com/<%= @user.twitterid %>">@<%= @user.twitterid %></a></p>
    <% end %>
    <% if @user.insta_name.present? %>
      <p>Instagram : 
      <a href="https://www.instagram.com/<%= @user.insta_name %>"><%= @user.insta_name %></a></p>
    <% end %>
  </div>
<% end %>

<div class="mainbox" >
  <div class="calendar">
    <% if user_signed_in? && current_user.id == @user.id %>
      <p><%= month_calendar events: @user.liked_posts do |date, t| %></p>
        <%= date.day %>
        <% t.each do |t| %>
          <div>
           <%= link_to User.find(t.user_id).ryakusyou, post_path(t.id) %>
          </div>
        <% end %>
      <% end %>
        <% if @user.liked_posts.present? %>
        <% else %>
        いいねするとその投稿がカレンダーに反映されます
        <% end %>
    <% end %>
  </div>
</div>



    <div class="user_post">
    <% if @user.nicname == nil %>
     <h2>ユーザーの投稿一覧</h2>
     <% if @user.posts.present? %>
      <% @user.posts.order("start_time DESC").each do |t| %>
      <div class="user_post_each">
        <%= t.start_time.strftime("%Y年%-m月%-d日") %>
        <br><%= t.name1 %> 
        <%= t.hikukainame %>
        <%= link_to "詳細へ", post_path(t.id) %>
      </div>
      <% end %>
      <% else %>
      <br>投稿はまだありません
      <% end %>
    <% end %>
    </div>
