<%= stylesheet_link_tag 'user_show', :media => "all" %>


    <% if current_user.id == @user.id || current_user.id==1%>
      <div class="title">
       <% provide(:title, 'マイページ') %>
       <h1>マイページ</h1>
      </div>



    <% end %>
  </div>

    <% if current_user.id != @user.id %>
      <div class="title">
        <% provide(:title, '団体ページ') %>
        <h1>団体ページ</h1>
      </div>
      <div class="contents">
      <h2> <%= @user.name %></h2>
      <p>活動県 : <%= Prefecture.find(@user.prefecture_id).name %></p>
      <p>メールアドレス : <%= @user.email %></p>
      <p>プロフィール : <%= @user.profile %></p>
      </div>
    <% end %>

<div class="mainbox" >
  <div class="calendar">
    <% if current_user.id == @user.id %>
      <p><%= month_calendar events: @user.liked_posts do |date, t| %></p>
        <%= date.day %>
        <% t.each do |t| %>
          <div>
           <%= link_to User.find(t.user_id).ryakusyou, post_path(t.id) %>
          </div>
        <% end %>
      <% end %>
        <% if @user.liked_posts.present? %>
        <% else %>
        いいねするとその投稿がカレンダーに反映されます
        <% end %>
    <% end %>
  </div>
</div>



    <div class="user_post">
     <h2>ユーザーの投稿一覧</h2>
      <% @user.posts.order("start_time DESC").each do |t| %>
      <div class="user_post_each">
        <br><%= t.start_time.strftime("%Y年%-m月%-d日") %>
        <br><%= t.name1 %> 
        <%= link_to "詳細へ", post_path(t.id) %>
      </div>
      <% end %>
    </div>
