<div class="title">
<% provide(:title, 'カレンダー') %>
<h1>カレンダー</h1>
</div>
<%= stylesheet_link_tag 'calendar', :media => "all" %>


<div class="mainbox">

<details>
    <summary>絞り込み</summary>
    <div class=thekkubokkusutokensaku>
    <%= search_form_for(@q,url: post_detail_search_path) do |f| %>
      <div class="tyekkubokkusuzentai"> 
        <h4> 北海道・東北地方 </h4>
        <div class="checkboxes">


        <% if @post_1.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 1, ''%>
         <%= Prefecture.find(prefecture_id=1).name %>
        <% end %>
    
         <% if @post_2.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 2, ''%>
         <%= '青森県　'%>
         <% end %> 
         <% if @post_3.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 3, ''%>
         <%= '岩手県　'%>
         <% end %>
         <% if @post_4.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 4, ''%>
         <%= '宮城県　'%>
         <% end %>
         <% if @post_5.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 5, ''%>
         <%= '秋田県　'%>
         <% end %>
         <% if @post_6.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 6, ''%>
         <%= '山形県　'%>
         <% end %>
         <% if @post_7.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 7, ''%>
         <%= '福島県　'%>
         <% end %>
        </div>
        <h4> 関東地方 </h4>
        <div class="checkboxes">
         <% if @post_8.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 8, ''%>
         <%= '茨城県　'%>
         <% end %>
         <% if @post_9.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 9, ''%>
         <%= '栃木県　'%>
         <% end %>
         <% if @post_10.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 10, ''%>
         <%= '群馬県　'%>
         <% end %>
         <% if @post_11.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 11, ''%>
         <%= '埼玉県　'%>
         <% end %>
         <% if @post_12.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 12, ''%>
         <%= '千葉県　'%>
         <% end %>
         <% if @post_13.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 13, ''%>
         <%= '東京都'%>
         <% end %>
         <% if @post_14.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 14, ''%>
         <%= '神奈川県　'%>
         <% end %>
        </div>
        <h4> 中部地方 </h4>
        <div class="checkboxes">
         <% if @post_15.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 15, ''%>
         <%= '新潟県　'%>
         <% end %>
         <% if @post_16.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 16, ''%>
         <%= '富山県　'%>
         <% end %>
         <% if @post_17.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 17, ''%>
         <%= '石川県　'%>
         <% end %>
         <% if @post_18.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 18, ''%>
         <%= '福井県　'%>
         <% end %>
         <% if @post_19.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 19, ''%>
         <%= '山梨県　'%>
         <% end %>
         <% if @post_20.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 20, ''%>
         <%= '長野県　'%>
         <% end %>
         <% if @post_21.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 21, ''%>
         <%= '岐阜県　'%>
         <% end %>
         <% if @post_22.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 22, ''%>
         <%= '静岡県　'%>
         <% end %>
         <% if @post_23.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 23, ''%>
         <%= '愛知県　'%>
         <% end %>
        </div>
        <h4> 関西地方 </h4>
        <div class="checkboxes">
         <% if @post_24.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 24, ''%>
         <%= '三重県　'%>
         <% end %>
         <% if @post_25.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 25, ''%>
         <%= '滋賀県　'%>
         <% end %>
         <% if @post_26.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 26, ''%>
         <%= '京都府'%>
         <% end %>
         <% if @post_27.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 27, ''%>
         <%= '大阪府'%>
         <% end %>
         <% if @post_28.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 28, ''%>
         <%= '兵庫県　'%>
         <% end %>
         <% if @post_29.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 29, ''%>
         <%= '奈良県　'%>
         <% end %>
         <% if @post_30.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 30, ''%>
         <%= '和歌山県　'%>
         <% end %>
        </div>
        <h4> 中国地方 </h4>
        <div class="checkboxes">
         <% if @post_31.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 31, ''%>
         <%= '鳥取県　'%>
         <% end %>
         <% if @post_32.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 32, ''%>
         <%= '島根県　'%>
         <% end %>
         <% if @post_33.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 33, ''%>
         <%= '岡山県　'%>
         <% end %>
         <% if @post_34.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 34, ''%>
         <%= '広島県　'%>
         <% end %>
         <% if @post_35.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 35, ''%>
         <%= '山口県　'%>
         <% end %>
        </div>
        <h4> 四国地方 </h4>
        <div class="checkboxes">
         <% if @post_36.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 36, ''%>
         <%= '徳島県　'%>
         <% end %>
         <% if @post_37.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 37, ''%>
         <%= '香川県　'%>
         <% end %>
         <% if @post_38.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 38, ''%>
         <%= '愛媛県　'%>
         <% end %>
         <% if @post_39.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 39, ''%>
         <%= '高知県　'%>
         <% end %>
        </div>
        <h4> 九州地方・沖縄 </h4>
        <div class="checkboxes">
         <% if @post_40.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 40, ''%>
         <%= '福岡県　'%>
         <% end %>
         <% if @post_41.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 41, ''%>
         <%= '佐賀県　'%>
         <% end %>
         <% if @post_42.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 42, ''%>
         <%= '長崎県　'%>
         <% end %>
         <% if @post_43.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 43, ''%>
         <%= '熊本県　'%>
         <% end %>
         <% if @post_44.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 44, ''%>
         <%= '大分県　'%>
         <% end %>
         <% if @post_45.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 45, ''%>
         <%= '宮崎県　'%>
         <% end %>
         <% if @post_46.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 46, ''%>
         <%= '鹿児島県　'%>
         <% end %>
         <% if @post_47.present? %>
         <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 47, ''%>
         <%= '沖縄県　'%>
         <% end %>
        </div>
      </div>
    
        <div class=kensakubotan>
         <%= f.submit "検索", class: "sbt-btn"%>
        </div>
    <% end %>
    </div>
    </details>



  <%= month_calendar events: @posts do |date, posts| %>
    <%= date.day %>
  
  
    <div class="calendar">
      <% posts.each do |t| %>
        <div>
          <%= Prefecture.find(t.prefecture_id).name %>
         <br><%= link_to User.find(t.user_id).ryakusyou, post_path(t.id) %>
         
        
         <div class="like_button">
            <% if user_signed_in? %>
              <% if current_user.already_liked?(t) %>
                <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete, remote: true do %>
                  <i class="fas fa-heart unliked-btn"></i><%= t.likes.count %>
                <% end %>
              <% else %>
                <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post, remote: true do %>
                  <i class="fas fa-heart liked-btn"></i>
                  <%= t.likes.count %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
