<div class="title">
<% provide(:title, 'カレンダー') %>
<h1>カレンダー</h1>
</div>
<%= stylesheet_link_tag 'calendar', :media => "all" %>


<div class="mainbox">

<details>
    <summary>絞り込み</summary>
    <div class=thekkubokkusutokensaku>
    <%= search_form_for(@q,url: post_detail_search_path) do |f| %>
      <div class="tyekkubokkusuzentai"> 
        <h4> 北海道・東北地方 </h4>
        <div class="checkboxes">
        <% if @post_1.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 1, ''%>
        <label for='q_prefecture_id_eq_any_1'>
        <%= Prefecture.find(prefecture_id=1).name %> </label>
       <% end %>
       
       <% if @post_2.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 2, ''%>
        <label for='q_prefecture_id_eq_any_2'>
        <%= Prefecture.find(prefecture_id=2).name %> </label>
       <% end %>
       
       <% if @post_3.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 3, ''%>
        <label for='q_prefecture_id_eq_any_3'>
        <%= Prefecture.find(prefecture_id=3).name %> </label>
       <% end %>
       
       <% if @post_4.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 4, ''%>
        <label for='q_prefecture_id_eq_any_4'>
        <%= Prefecture.find(prefecture_id=4).name %> </label>
       <% end %>
       
       <% if @post_5.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 5, ''%>
        <label for='q_prefecture_id_eq_any_5'>
        <%= Prefecture.find(prefecture_id=5).name %> </label>
       <% end %>
       
       <% if @post_6.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 6, ''%>
        <label for='q_prefecture_id_eq_any_6'>
        <%= Prefecture.find(prefecture_id=6).name %> </label>
       <% end %>
       
       <% if @post_7.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 7, ''%>
        <label for='q_prefecture_id_eq_any_7'>
        <%= Prefecture.find(prefecture_id=7).name %> </label>
       <% end %>
       
        </div>
        <h4> 関東地方 </h4>
        <div class="checkboxes">
        <% if @post_8.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 8, ''%>
        <label for='q_prefecture_id_eq_any_8'>
        <%= Prefecture.find(prefecture_id=8).name %> </label>
       <% end %>
       
       <% if @post_9.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 9, ''%>
        <label for='q_prefecture_id_eq_any_9'>
        <%= Prefecture.find(prefecture_id=9).name %> </label>
       <% end %>
       
       <% if @post_10.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 10, ''%>
        <label for='q_prefecture_id_eq_any_10'>
        <%= Prefecture.find(prefecture_id=10).name %> </label>
       <% end %>
       
       <% if @post_11.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 11, ''%>
        <label for='q_prefecture_id_eq_any_11'>
        <%= Prefecture.find(prefecture_id=11).name %> </label>
       <% end %>
       
       <% if @post_12.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 12, ''%>
        <label for='q_prefecture_id_eq_any_12'>
        <%= Prefecture.find(prefecture_id=12).name %> </label>
       <% end %>
       
       <% if @post_13.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 13, ''%>
        <label for='q_prefecture_id_eq_any_13'>
        <%= Prefecture.find(prefecture_id=13).name %> </label>
       <% end %>
       
       <% if @post_14.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 14, ''%>
        <label for='q_prefecture_id_eq_any_14'>
        <%= Prefecture.find(prefecture_id=14).name %> </label>
       <% end %>
              
        </div>
        <h4> 中部地方 </h4>
        <div class="checkboxes">
        <% if @post_15.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 15, ''%>
        <label for='q_prefecture_id_eq_any_15'>
        <%= Prefecture.find(prefecture_id=15).name %> </label>
       <% end %>
       
       <% if @post_16.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 16, ''%>
        <label for='q_prefecture_id_eq_any_16'>
        <%= Prefecture.find(prefecture_id=16).name %> </label>
       <% end %>
       
       <% if @post_17.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 17, ''%>
        <label for='q_prefecture_id_eq_any_17'>
        <%= Prefecture.find(prefecture_id=17).name %> </label>
       <% end %>
       
       <% if @post_18.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 18, ''%>
        <label for='q_prefecture_id_eq_any_18'>
        <%= Prefecture.find(prefecture_id=18).name %> </label>
       <% end %>
       
       <% if @post_19.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 19, ''%>
        <label for='q_prefecture_id_eq_any_19'>
        <%= Prefecture.find(prefecture_id=19).name %> </label>
       <% end %>
       
       <% if @post_20.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 20, ''%>
        <label for='q_prefecture_id_eq_any_20'>
        <%= Prefecture.find(prefecture_id=20).name %> </label>
       <% end %>
       
       <% if @post_21.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 21, ''%>
        <label for='q_prefecture_id_eq_any_21'>
        <%= Prefecture.find(prefecture_id=21).name %> </label>
       <% end %>
       
       <% if @post_22.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 22, ''%>
        <label for='q_prefecture_id_eq_any_22'>
        <%= Prefecture.find(prefecture_id=22).name %> </label>
       <% end %>
       
       <% if @post_23.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 23, ''%>
        <label for='q_prefecture_id_eq_any_23'>
        <%= Prefecture.find(prefecture_id=23).name %> </label>
       <% end %>
       
        </div>
        <h4> 関西地方 </h4>
        <div class="checkboxes">
        <% if @post_24.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 24, ''%>
        <label for='q_prefecture_id_eq_any_24'>
        <%= Prefecture.find(prefecture_id=24).name %> </label>
       <% end %>
       
       <% if @post_25.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 25, ''%>
        <label for='q_prefecture_id_eq_any_25'>
        <%= Prefecture.find(prefecture_id=25).name %> </label>
       <% end %>
       
       <% if @post_26.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 26, ''%>
        <label for='q_prefecture_id_eq_any_26'>
        <%= Prefecture.find(prefecture_id=26).name %> </label>
       <% end %>
       
       <% if @post_27.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 27, ''%>
        <label for='q_prefecture_id_eq_any_27'>
        <%= Prefecture.find(prefecture_id=27).name %> </label>
       <% end %>
       
       <% if @post_28.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 28, ''%>
        <label for='q_prefecture_id_eq_any_28'>
        <%= Prefecture.find(prefecture_id=28).name %> </label>
       <% end %>
       
       <% if @post_29.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 29, ''%>
        <label for='q_prefecture_id_eq_any_29'>
        <%= Prefecture.find(prefecture_id=29).name %> </label>
       <% end %>
       
       <% if @post_30.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 30, ''%>
        <label for='q_prefecture_id_eq_any_30'>
        <%= Prefecture.find(prefecture_id=30).name %> </label>
       <% end %>
       
        </div>
        <h4> 中国地方 </h4>
        <div class="checkboxes">
        <% if @post_31.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 31, ''%>
        <label for='q_prefecture_id_eq_any_31'>
        <%= Prefecture.find(prefecture_id=31).name %> </label>
       <% end %>
       
       <% if @post_32.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 32, ''%>
        <label for='q_prefecture_id_eq_any_32'>
        <%= Prefecture.find(prefecture_id=32).name %> </label>
       <% end %>
       
       <% if @post_33.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 33, ''%>
        <label for='q_prefecture_id_eq_any_33'>
        <%= Prefecture.find(prefecture_id=33).name %> </label>
       <% end %>
       
       <% if @post_34.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 34, ''%>
        <label for='q_prefecture_id_eq_any_34'>
        <%= Prefecture.find(prefecture_id=34).name %> </label>
       <% end %>
       
       <% if @post_35.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 35, ''%>
        <label for='q_prefecture_id_eq_any_35'>
        <%= Prefecture.find(prefecture_id=35).name %> </label>
       <% end %>
       
       <% if @post_36.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 36, ''%>
        <label for='q_prefecture_id_eq_any_36'>
        <%= Prefecture.find(prefecture_id=36).name %> </label>
       <% end %>
       
       <% if @post_37.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 37, ''%>
        <label for='q_prefecture_id_eq_any_37'>
        <%= Prefecture.find(prefecture_id=37).name %> </label>
       <% end %>
       
       <% if @post_38.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 38, ''%>
        <label for='q_prefecture_id_eq_any_38'>
        <%= Prefecture.find(prefecture_id=38).name %> </label>
       <% end %>
       
       <% if @post_39.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 39, ''%>
        <label for='q_prefecture_id_eq_any_39'>
        <%= Prefecture.find(prefecture_id=39).name %> </label>
       <% end %>
       
        </div>
        <h4> 九州地方・沖縄 </h4>
        <div class="checkboxes">
        <% if @post_40.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 40, ''%>
        <label for='q_prefecture_id_eq_any_40'>
        <%= Prefecture.find(prefecture_id=40).name %> </label>
       <% end %>
       
       <% if @post_41.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 41, ''%>
        <label for='q_prefecture_id_eq_any_41'>
        <%= Prefecture.find(prefecture_id=41).name %> </label>
       <% end %>
       
       <% if @post_42.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 42, ''%>
        <label for='q_prefecture_id_eq_any_42'>
        <%= Prefecture.find(prefecture_id=42).name %> </label>
       <% end %>
       
       <% if @post_43.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 43, ''%>
        <label for='q_prefecture_id_eq_any_43'>
        <%= Prefecture.find(prefecture_id=43).name %> </label>
       <% end %>
       
       <% if @post_44.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 44, ''%>
        <label for='q_prefecture_id_eq_any_44'>
        <%= Prefecture.find(prefecture_id=44).name %> </label>
       <% end %>
       
       <% if @post_45.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 45, ''%>
        <label for='q_prefecture_id_eq_any_45'>
        <%= Prefecture.find(prefecture_id=45).name %> </label>
       <% end %>
       
       <% if @post_46.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 46, ''%>
        <label for='q_prefecture_id_eq_any_46'>
        <%= Prefecture.find(prefecture_id=46).name %> </label>
       <% end %>
       
       <% if @post_47.present? %>
        <%= f.check_box :prefecture_id_eq_any, { multiple: true }, 47, ''%>
        <label for='q_prefecture_id_eq_any_47'>
        <%= Prefecture.find(prefecture_id=47).name %> </label>
       <% end %>
       
        </div>
      </div>
    
        <div class=kensakubotan>
         <%= f.submit "検索", class: "sbt-btn"%>
        </div>
    <% end %>
    </div>
    </details>



  <%= month_calendar events: @posts do |date, posts| %>
    <%= date.day %>
  
  
    <div class="calendar">
      <% posts.each do |t| %>
        <div>
          <%= Prefecture.find(t.prefecture_id).name %>
          <% if t.hikukairyakusyou.present? %>
          <br><%= link_to t.hikukairyakusyou, post_path(t.id) %>
          <% elsif t.hikukainame.present? %>
          <br><%= link_to t.hikukainame, post_path(t.id) %>
          <% else %>
          <br><%= link_to User.find(t.user_id).ryakusyou, post_path(t.id) %>
          <% end %>
        
         <div class="like_button">
            <% if user_signed_in? %>
              <% if current_user.already_liked?(t) %>
                <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete, remote: true do %>
                  <i class="fas fa-heart unliked-btn"></i><%= t.likes.count %>
                <% end %>
              <% else %>
                <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post, remote: true do %>
                  <i class="fas fa-heart liked-btn"></i>
                  <%= t.likes.count %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
