<div class="title">
<% provide(:title, 'カレンダー') %>
<h1>カレンダー</h1>
</div>
<%= stylesheet_link_tag 'calendar', :media => "all" %>


<div class="mainbox">



  <%= month_calendar events: @posts do |date, posts| %>
    <%= date.day %>
    

      
    <% posts.each do |t| %>
  
  
      <div>
          <%= Prefecture.find(t.prefecture_id).name %>
          <% if t.hikukairyakusyou.present? %>
          <br><%= link_to t.hikukairyakusyou, post_path(t.id) %>
          <% elsif t.hikukainame.present? %>
          <br><%= link_to t.hikukainame, post_path(t.id) %>
          <% else %>
          <br><%= link_to User.find(t.user_id).ryakusyou, post_path(t.id) %>
          <% end %>
                    
          <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
              <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete, remote: true do %>
                <i class="fas fa-heart unliked-btn"></i><%= t.likes.count %>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post, remote: true do %>
                <i class="fas fa-heart liked-btn"></i>

              <% end %>
            <% end %>
          <% else %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
  
      </div>
    <% end %>
  <% end %>
  </div>
  