<div class="mainbox">
  
  <div class="field">
    <%= form_for @post do |f| %>
    <%= f.label :演奏会名 %>
    <br><%= f.text_field :name1,size: 30 %>
  </div>

  <div class="field">
    <%= f.label :自由記述 %>
    <br><%= f.text_area :detail, size: "30x7" %>
  </div>

  <div class="field">
    <%= f.label :曲目 %>
    <br><%= f.text_area :music, size: "30x7" %>
  </div>

  <div class="field">
    <%= f.label :開催地域 %>
    <br><%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択して下さい"}) %>
  </div>

  <div class="field">
    <%= f.label :チラシ画像（表） %>
    <br><%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :チラシ画像（裏） %>
    <br><%= f.file_field :image2 %>
  </div>

  <div class="field">
    <%= f.label :実施日、開演時間 %>
    <br><%= f.datetime_field :start_time %>
  </div>

  <%= form_with(model: @post) do |f| %>

  <div class="field">
    <%= f.label :開催場所 %>
    <br><%= f.text_field :address,size: 30 %>
  </div>

  <div class="submit">
    <%= f.submit "編集完了" %>
  </div>
 <% end %>
 <% end %>

</div>