<div class="mainbox">
<div class="tyuuoubox">
<i>投稿編集</i>

    <%= form_for @post do |f| %>

<% if @post.postsyurui == 1 %>

  <div class="field">
    <%= f.label :タイトル %>
    <br><%= f.text_field :hikukainame,size: 30 %>
  </div>

  <div class="field">
    <%= f.label :略称 %>
    <br><%= f.text_field :hikukairyakusyou,size: 30 %>
  </div>

<% elsif @post.postsyurui == 2 %>

  <div class="field">
    <%= f.label :演奏会名 %>
    <br><%= f.text_field :name1,size: 30 %>
  </div>

  <div class="field">
    <%= f.label :曲目 %>
    <br><%= f.text_area :music, size: "30x7" %>
  </div>

  <div class="field">
    <%= f.label :参加団体１ %>
    <br><%= f.text_field :kyoudou1,size: 30 %>
  </div>

  <div class="field">
    <%= f.label :参加団体２ %>
    <br><%= f.text_field :kyoudou2,size: 30 %>
  </div>

  <div class="field">
    <%= f.label :参加団体３ %>
    <br><%= f.text_field :kyoudou3,size: 30 %>
  </div>

  <div class="field">
    <%= f.label :参加団体４ %>
    <br><%= f.text_field :kyoudou4,size: 30 %>
  </div>

  <div class="field">
    <%= f.label :参加団体５ %>
    <br><%= f.text_field :kyoudou5,size: 30 %>
  </div>

<% else %>

  <div class="field">
    <%= f.label :演奏会名 %>
    <br><%= f.text_field :name1,size: 30 %>
  </div>

  <div class="field">
    <%= f.label :曲目 %>
    <br><%= f.text_area :music, size: "30x7" %>
  </div>

<% end %>

  <div class="field">
    <%= f.label :開催地域 %>
    <br><%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択して下さい"}) %>
  </div>

  <div class="field">
    <%= f.label :自由記述 %>
    <br><%= f.text_area :detail, size: "30x7" %>
  </div>

  <div class="field">
    <%= f.label :チラシ画像（表） %>
    <br><%= f.file_field :image %>
  </div>

<% if @post.postsyurui != 1 %>
  <div class="field">
    <%= f.label :チラシ画像（裏） %>
    <br><%= f.file_field :image2 %>
  </div>
<% end %>

  <div class="field">
    <%= f.label :実施日、開演時間 %>
    <br><h>開演時間が未定の場合は00:00としてください</h>
    <br><%= f.datetime_field :start_time %>
  </div>

  <%= form_with(model: @post) do |f| %>

  <div class="field">
    <%= f.label :開催場所 %>
    <br><%= f.text_field :address,size: 30 %>
  </div>

  <div class="submit">
    <%= f.submit "編集完了" %>
  </div>
 <% end %>
 <% end %>

</div>
</div>