

<%= form_for @post do |f| %>
    <%= f.label :演奏会名 %>
    <%= f.text_field :name1, :size => 140 %>
  </div>

    <%= f.label :団体名 %>
    <%= f.text_field :name2, :size => 140 %>
  </div>

    <%= f.label :自由記述 %>
    <%= f.text_field :detail, :size => 140 %>
  </div>


    <%= f.label :曲目 %>
    <%= f.text_field :music, :size => 140 %>
  </div>

    <%= f.label :開催地域（都道府県） %>
    <%= f.text_field :prefecture, :size => 140 %>
  </div>

  <div class="field">
    <%= f.label :チラシ画像（表） %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :チラシ画像（裏） %>
    <%= f.file_field :image2 %>
  </div>

    <%= f.label :実施日、開演時間 %>
    <%= f.datetime_field :start_time %>
  </div>




<div class="field">
<%= form_with(model: @post) do |f| %>

  <div class="field my-3">
    <%= f.label :開催場所 %>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit "編集する" %>
  </div>
 <% end %>
 <% end %>
