<%= stylesheet_link_tag 'index', :media => "all" %>

<html>
<head>

</head>
<body>


<%= yield %>


<div class="title">
<% provide(:title, '投稿一覧') %>
<h1>投稿一覧</h1>
</div>


<div class="post-top">
  <div class="post-narabi">
    <c><%= link_to "実施日昇順・検索", posts_path %></c>
    <f><%= link_to "新着", posts_index_new_path %></f>
    <c><%= link_to "いいね順", posts_index_likes_path %></c>
  </div>  <%= page_entries_info @posts %>
</div>

<div class="scroll-list jscroll">
  <div class="post-zentai">

    <% @posts.each do |post| %>
      <div class="posts-container">
        <div class="post">
          <div class="main-box">
            <div class="left-container">
            <d><p><%= post.start_time.strftime("%-m月%-d日") %></p></d>
            <d><p>【<%= Prefecture.find(post.prefecture_id).name %>】
              <% if post.postsyurui ==1 %>
                <p><e><%= link_to post.hikukainame, post_path(post.id) %></p></d></e></p>
              <% elsif post.postsyurui == 2 %>
                <p><e><%= link_to post.name1, post_path(post.id) %></p></d></e></p>
              <% else %>
                <p><e><%= link_to User.find(post.user_id).name, user_path(post.user_id) %></p></d></e></p>
              <% end %>
            <% if  post.image.present? %>
            <d><p><a href="<%=Post.find(post.id).image_url%>" rel="lightbox[<%=post.id%>]"><img width="189" height="267" src="<%=Post.find(post.id).image_url%>" alt="" /></a></p></d>
            <% end %>
            <% if  post.image2.present? %>
             <div class="image2">
              <d><p><a href="<%=Post.find(post.id).image2_url%>" rel="lightbox[<%=post.id%>]"><img width="189" height="267" src="<%=Post.find(post.id).image2_url%>" alt="" /></a></p></d>
             </div>
            <% end %>       
            </div>

            <div class="likes_buttons" id="likes_buttons_<%= post.id %>">
            <e><%= render partial: 'likes/like', locals: {post: post} %></e>
            </div>
            <div class="index_shousai">
             <e><p><%= link_to "詳細へ", post_path(post.id) %></p></e>
            </div>
          </div>
        </div>  
      </div>
    <% end %>
  </div>
</div>

<div class="pagenate_end">
<ul>
<%= paginate @posts %>
</ul>
</div>
</body>
</html>