<%= stylesheet_link_tag 'index', :media => "all" %>

<html>
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
</head>
<body>


<%= yield %>


<div class="title">
<% provide(:title, '投稿一覧') %>
<h1>投稿一覧</h1>
</div>

<div class="kensaku">
<h3>投稿を検索</h3>
<nobr><%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
  <%= text_field_tag :search1 %>
  <%= submit_tag '検索する'  %></nobr>
<% end %>
</div>



<div class="post-top">
<div class="post-narabi">
    <f><%= link_to "実施日昇順・検索", posts_path %></f>
    <c><%= link_to "新着", posts_index_new_path %></c>
    <c><%= link_to "いいね順", posts_index_likes_path %></c>
</div>
  <%= page_entries_info @posts %>
</div>



<div class="post-zentai">
    <% @posts.each do |post| %>
      <div class="posts-container">
        <div class="post">
          <div class="main-box">
            <div class="left-container">
              <d><p><%= post.start_time.strftime("%-m月%-d日") %></p></d>
              <d><p>【<%= Prefecture.find(post.prefecture_id).name %>】
              
              <% if user_signed_in? %>
              <p><e><%= link_to User.find(post.user_id).name, user_path(post.user_id) %></p></d></e></p>
              <% else %>
              <p><e><%= User.find(post.user_id).name %></p></d></e></p>
              <% end %>
              <d><p><%= link_to post.image_url, "data-lightbox" => post.image_url do %>
              <%= image_tag post.image_url, size: "189x267" if post.image? %></p></d>
              <% end %>
            </div>

              <div class="likes_buttons" id="likes_buttons_<%= post.id %>">
                <e><%= render partial: 'likes/like', locals: {post: post} %></e>
              </div>
              <div class="index_shousai">
                <e><p><%= link_to "詳細へ", post_path(post.id) %></p></e>
              </div>

          </div>
        </div>  
  

      </div>
    <% end %>
  </div>





</div>

<div class="pagenate_end">
<ul>
<%= paginate @posts %>
</ul>
</div>
</body>
</html>