<%= stylesheet_link_tag 'index', :media => "all" %>

<html>
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
</head>
<body>
<%= yield %>
<div class="kensaku">
</div>


<div class="post-top">
 <h3>演奏会一覧(おすすめ順）</h3>
 <%= page_entries_info @posts %>
</div>

<div class="zyunban">
  <ul>
  <li><%= link_to "実施日昇順・検索", posts_path %></li>
  <li><%= link_to "新着", posts_index_new_path %></li>
  <li><%= link_to "いいね順", posts_index_likes_path %></li>
  </ul>
</div>

  <% @rank_posts.each do |t| %>
      <div class="posts-container">
        <div class="post">
          <div class="main-box">
            <div class="left-container">
            <p><%= t.start_time.strftime("%-m月%-d日") %></p>
            <p>【<%= Prefecture.find(t.prefecture_id).name %>】
            <%= link_to t.name2, user_path(t.id) %></p>
            <p><%= link_to t.image_url, "data-lightbox" => t.image_url do %>
            <%= image_tag t.image_url, size: "210x297" if t.image? %></p>  
              <% end %> 
              </div>

            <div class="right-container">
              <p><%= link_to "詳細へ", post_path(t.id) %></p>
              <% if user_signed_in? && current_user.id == t.user_id %>  
              <p><%= link_to "編集する", edit_post_path(t.id) %></p>
              <p><%= button_to "削除する", post_path(t.id), method: :delete %></p>
              <% end %>
            </div>
          </div>
        </div>  

          <div id="likes_buttons_<%= t.id %>">
            <%= render partial: 'likes/like', locals: {post: t} %>
          </div>
      </div>

  <% end %>






</div>

<div class="pagenate_end">
<ul>
<%= paginate @posts %>
</ul>
</div>
</body>
</html>