<html>
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
</head>
<body>
<%= yield %>


<div class="post">

  <p><%= @post.name1 %></p>
  <p><%= link_to @post.name2, user_path(@post.id) %></p>
  <p><%= @post.detail %></p>
  <p><%= @post.music %></p>
  <p><%= @post.prefecture %></p>
  <p><%= @post.site %></p>
  実施日↓ 　　　↓開演時間<br>
  <p><%= @post.start_time %><br></p>
  <%= link_to @post.image_url, "data-lightbox" => @post.image_url do %>
  <p><%= image_tag @post.image_url, size: "210x297" if @post.image? %><p>
  <% end %>
  <%= link_to @post.image2_url, "data-lightbox" => @post.image2_url do %>
  <p><%= image_tag @post.image2_url, size: "210x297" if @post.image? %><p> 
  <% end %>

<% if user_signed_in? && current_user.id == @post.user_id %>  
  <%= link_to "編集する", edit_post_path(@post.id) %>
  <%= button_to "削除する", post_path(@post.id), method: :delete %>
<% end %>
  


<div>
<div id="likes_buttons_<%= @post.id %>">
<%= render partial: 'likes/like', locals: {post: @post} %>
</div>

</div>

</div>

<script type="text/javascript">
function initMap() {
  var test = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
  var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15, 
            center: test
            });
  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);
  var contentString = '住所：<%= @post.address %>';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });
  var marker = new google.maps.Marker({
                position:test,
                map: map,
                title: contentString
              });
  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
<style type="text/css">
#map { height: 200px;
      width: 70%;}
</style>
<div id="map"></div>

<h2>いいねしたユーザー</h2>
<% @post.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>


  
  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>



</body>
</html>
