<% if @post.postsyurui==1 %>
<% set_meta_tags title: @post.hikukainame, description: @post.detail, og:{image: image_url(url_for(@post.image_url))}, twitter:{image: image_url(url_for(@post.image_url))} %>
<% else %>
<% set_meta_tags title: User.find(@post.user_id).ryakusyou + @post.name1, description: @post.detail, og:{image: image_url(url_for(@post.image_url))}, twitter:{image: image_url(url_for(@post.image_url))} %>
<% end %>
<%= stylesheet_link_tag 'post_show', :media => "all" %>

<%= yield %>
<div class="title">
<% provide(:title, User.find(@post.user_id).name) %>
<h1>詳細情報</h1>
</div>

<div class="mainbox">
<div class="post_show">
  <div class="post_shousai">
  <div class="post_tyuuou">
    <% if @post.hikukainame.present? %>
    <h2><p><%= @post.hikukainame %></p></h2>
    <% else %>
    <h2><p><%= link_to User.find(@post.user_id).name, user_path(@post.user_id) %></p></h2>
    <h2><p><%= @post.name1 %></p></h2>
    <% end %>
    <p>【<%= Prefecture.find(@post.prefecture_id).name %>】</p>
    <% if @post.address.present? %>
    <p>場所 <%= @post.address %></p>
    <% else %>
    <p>場所 未定</p>
    <% end %>
    <p>公演日 <%= @post.start_time.strftime("%-m/%-d(%a.)") %></p>
    <% if @post.postsyurui==1 %>
    <p>集合時間 
    <% else %>
    <p>開演時間
    <% end %>
    <% if @post.start_time.strftime("%H:%M")=="00:00" %>
    未定</p>
    <% else %>
    <%= @post.start_time.strftime("%-H:%M") %></p>
    <% end %>


    <% if @post.image.present? %>

      <p><%= convert_url_into_a_tag(safe_join(h(@post.detail).split("\n"),tag(:br))).html_safe %></p>
      <div class="gazou">
        <a href="<%=@post.image_url%>" rel="lightbox[plants]"><img width="210" height="297" src="<%=@post.image_url%>" alt="" /></a>
        <% if  @post.image2.present? %>
        <a href="<%=@post.image2_url%>" rel="lightbox[plants]"><img width="210" height="297" src="<%=@post.image2_url%>" alt="" /></a>
        <% end %>
      </div>
    <% else %>
      <p><%= convert_url_into_a_tag(safe_join(h(@post.detail).split("\n"),tag(:br))).html_safe %></p>
      <% if  @post.music.present? %>
       <p> 曲目</p>
       <p> <%= safe_join(@post.music.split("\n"),tag(:br)) %></p>
      <% end %>
    <% end %>

    

    <% if user_signed_in? && current_user.id == @post.user_id || user_signed_in? && current_user.id==1%>  
     <%= link_to "編集する", edit_post_path(@post.id) %>
      <%= button_to "削除する", post_path(@post.id), method: :delete %>
    <% end %>
   
    <div id="likes_buttons_<%= @post.id %>">
      <%= render partial: 'likes/like', locals: {post: @post} %>
    </div>

    <div class="line_kyouyuu">
    <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL" data-url="https://dolicon.herokuapp.com/posts/<%= @post.id %>" data-color="default" data-size="large" data-count="false" data-ver="3" style="display: none;"></div>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    <br><j>LINEで共有</j>
    <% if user_signed_in? && current_user.id==10 %>
    <%= button_to "download", download_path(@post.id), method: :get, class: 'btn btn-info' %>
    <% end %>
    </div>

  </div>
  </div>


  <script type="text/javascript">
    function initMap() {
    var test = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15, 
            center: test
            });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var contentString = '住所：<%= @post.address %>';
    var infowindow = new google.maps.InfoWindow({
    content: contentString
    });
    var marker = new google.maps.Marker({
                position:test,
                map: map,
                title: contentString
              });
    marker.addListener('click', function() {
    infowindow.open(map, marker);
    });
    }
  </script>
  <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
  </script>
  <style type="text/css">
   #map { height: 200px;
      width: 70%;}
  </style>
  <div id="map"></div>

<% if user_signed_in? %>
<% if current_user.id != @post.user_id %>
<div class="comments">
<%= form_with(model: [@post, @comment], local: true) do |f| %>
  <%= f.text_area :content %>
  <br><%= button_tag type: "submit" do %>
    <i class="far fa-comments"></i> コメントする
  <% end %>
<% end %>
<% end %>
</div>
<% end %>


<% if @comments.present? %>
<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <p><%= c.created_at.strftime("%-m月%-d日") %>
      <%= User.find(c.user_id).nicname %></p>
      <p><%= c.content %><p>
    </div>
  <% end %>
</div>
<% end %>
</div>

</div>



</body>
</html>




<%= f = File.open("#{User.find(@post.user_id).name+@post.name1}.ics", 'w') %>
<%= f.puts "BEGIN:VCALENDAR
PRODID:-//dolicon.herokuapp.com//website//EN
VERSION:2.0
BEGIN:VEVENT
DTSTART:#{@post.start_time.strftime("%Y%m%d")}T#{@post.start_time.strftime("%H%M%S")}J
DTEND:#{@post.start_time.strftime("%Y%m%d")}T#{@post.start_time.strftime("%H%M%S")}J
DESCRIPTION:https://dolicon.herokuapp.com/posts/#{@post.id}
LOCATION:#{@post.address}
SUMMARY:#{User.find(@post.user_id).name+@post.name1}
END:VEVENT
END:VCALENDAR" %>
<%= f.close %>


