<div class="mainbox_edit">
<h4>プロフィール編集</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>


  <% if @user.nicname != nil %>

    <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nicname, autocomplete: "nicname",size: 30 %>
    </div>

  <% else %>

    <div class="field">
    <%= f.label :団体名 %><br />
    <%= f.text_field :name, autocomplete: "name",size: 30 %>
    </div>

    <div class="field">
    <%= f.label :略称 %><br />
    <%= f.text_field :ryakusyou, autocomplete: "ryakusyou",size: 30 %>
    </div>

    <div class="field">
    <%= f.label :プロフィール %><br />
    <%= f.text_area :profile, autocomplete: "profile", size: "30x7" %>
    </div>

    <div class="field">
    <%= f.label :公式HP %><br />
    <%= f.url_field :url, autocomplete: "url", size: "30x7" %>
    </div>

    <div class="field">
    <%= f.label :"twitter id(@の次から)" %><br />
    <%= f.text_field :twitterid, autocomplete: "twitterid", size: "30x7" %>
    </div>

    <div class="field">
    <%= f.label :"Instagram ユーザーネーム" %><br />
    <%= f.text_field :insta_name, autocomplete: "insta_name", size: "30x7" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

  <% end %>


  <div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email",size: 30 %>
  </div>

  <div class="field">
    <%= f.label :変更後のパスワード %> <br><i>(変更しない場合は空白で構いません)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :変更後のパスワード（確認） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %> <i><b>必須</b></i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<div class="sakuzyo">
<h4>アカウントの削除</h4>

<%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "戻る", :back %>
</div>
</div>