<%= stylesheet_link_tag 'login', :media => "all" %>

<div class="mainbox_login">

<div class="login_title">
<h2>新規登録</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  
  <div class="field">
    <%= f.label :名前（一般利用の場合は公開されません） %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :利用者 %><br>
    <%= f.radio_button :syurui, 0 %>一般
    <%= f.radio_button :syurui, 1 %>学生団体
    <%= f.radio_button :syurui, 2 %>社会人団体
  </div>


  <div class="field">
   <%= f.label :活動県（団体のみ） %>
   <br><%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択して下さい"}) %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（再入力） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<div class="button_login">
  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>